div{
    text-align: center;
    margin-top: 160px;
}

ul a {
    list-style: none;
    color: #666;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    padding-right: 10px;
    
}
ul{
    text-align: right;
    margin-top: 10px;
    font-family: sans-serif
}
ul a:hover{
    color:blue;
}
input{
    margin-top: 10px;
    margin-left: 480px;
    height:35px;
    width:30%;
}